#tab{
    margin-top: 150px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    border-radius: 10px;
    padding: 30px;
}
#nep{
    padding-right: 30px;
}
#netext{
    padding-bottom: 30px;
}
#chi{
    padding-right: 30px;
}