/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  
  /* font stack */
  body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
     font-family: Tahoma;
    font-size: 16px;
}

label{
    display: block;
    margin: 0.5rem 0;
}
h1 , p{
    margin: 1em auto;
    text-align: center;

}
form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}
fieldset{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type { 
    border-bottom: none;
  
}
input,textarea,select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 2em;
}
.inline{
    width: unset;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.5em;
    margin-top: 0;
    vertical-align: middle;
}
input,textarea{
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    
}
input[type="submit"]{
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 2em;
    font-size: 1.1rem;
    background-color:#3b3b4f ;
    border-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    min-width: 300px;
}
input[type="file"]{
    padding: 1px 2px;

}
a{
    color: #dfdfe2;
}