body {
    font-family: Arial, sans-serif;
}
.container {
    width: 300px;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc
}
.languageBtn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.languageBtn:hover {
    background-color: #3e8e41;
}
.language-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#loginBtn{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#modeBtn{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modeBtn:hover{
    background-color: #3e8e41;
}

#info{
    color: darkblue;
}

#loginBtn:hover{
    background-color: #3e8e41;
}
#wrongUsernameOrPassword{
    display: none;
}
