@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* overflow: hidden; */
}
#mobileUILogo {
  display: none;
  justify-content: space-between;
}

.navbarLeft {
  width: 15vw;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbarLeft > img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 40px;
}
#greeter
{
  margin-top: -1em;
  font-weight: 600;
  color:#1875d2;
}

.navButtons {
  display: flex;
  color: whitesmoke;
  background-color: #ff6b6b;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
  padding: 0.7em 1.6em;
  cursor: pointer;
  border-radius: 0.6em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border: none;
}
.navButtons:hover {
  background-color: #e81919;
  color: #ffffff;
}

.navbarLeft .logout {
  width: 100%;
  overflow: hidden;
  margin-top: auto;
  padding: 0.7em 1.6em;
  margin-bottom: 50px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.navbarLeft .logout:hover {
  background-color: #cc1d1d;
}
#messageBox {
  display: flex;
  position: fixed;
  top: -50px; /* Position above the top of the screen */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  transition: top 0.5s ease-in-out;
  z-index: 1000;
  display: none;
}

#messageBox.show {
  top: 10px; /* Slide down position */
}

#mainContentContainer {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.mainContent {
  width: 100%;
  display: flex;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  justify-content: center;
}

.navbarRight {
  width: 10vw;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  border-right: 1px solid #ccc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature {
  margin-top: 200px;
  width: 70%;
  margin: auto;
}

.navbarRight button {
  width: 100%;
  padding: 0.7em 1.6em;
  color: whitesmoke;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 0.6em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border: none;
  background-color: #ff6b6b;
}

.navbarRight button:hover {
  background-color: #e81919;
  color: #ffffff;
}

/* Table  */
table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
}
table {
  overflow-wrap: anywhere;
  width: 100%;
}
tr:nth-of-type(odd) {
  background-color: rgba(164, 164, 164, 0.25);
}
th {
  background-color: rgba(164, 164, 164, 0.4);
}
.selected-row {
  font-weight: bold;
  background-color: rgba(135, 206, 250, 0.6)  !important;
}
/* Add Button*/

.container-addBtn {
  display: none;
  background-color: white;
  position: absolute;
  max-width: 650px;
  padding: 28px;
  box-shadow: 0 15px 20px;
  border: 5px rgb(248, 246, 246);
  border-radius: 2px;
  backdrop-filter: blur(10px);
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-bottom: 15px;
}

.input-box input {
  height: 40px;
  width: 95%;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}
.input-box select {
  height: 25px;
  padding: 3px;
}
.container-addBtn {
  position: absolute;
  max-width: 650px;
  padding: 28px;
  box-shadow: 0 15px 20px;
  border: 1px rgb(248, 246, 246);
  border-radius: 2px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-bottom: 15px;
}

.input-box input {
  height: 40px;
  width: 95%;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}
.input-box select {
  height: 25px;
  padding: 3px;
}
#submitAddBtn {
  margin-top: 20px;
  flex: 1;
}
