
@media (max-width: 800px) {
.navbarLeft{
    display: none;
}
.navbarRight{
    display: none;
}
#mobileUILogo
{
  display: flex;
  justify-content: space-between;
}
#mainContent
{
    width: 100vw;
}
th{
    overflow: hidden;
}
table{
    width: calc(100vw-10em);
}
button
{
    padding: none !important;
}
}


    
.leftLogo, .rightLogo
{
    cursor: pointer;
}
/* .leftLogo.show
{

}
.rightLogo.show
{

} */